<% layout('./layouts/boilerplate') %>
<div class="container-fluid d-flex flex-row justify-content-center">
  <div class="itemBox d-flex flex-column">
    <div class="activityImage mx-auto">
      <img class="picture img-fluid" src="/img/ex2.jpg" alt="" />
    </div>

    <div class="itemBoxContent px-4">
      <div class="itemBoxContentTitle">
        <a class="itemTitle" href="#"
          ><b><h3 id="actTitle">Title</h3></b></a
        >
      </div>
      <div class="Bygroup">
        <b>Grupo</b>
      </div>
      <div class="itemBoxContentDate">Fecha</div>
      <div class="itemBoxContentLocation">Localizacion</div>
    </div>
  </div>
</div>
