<% layout('./layouts/boilerplate') %>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mb-4">Main Article Title Here</h1>
      <a href=""><h5> Nombre del grupo</h5></a>
      <div class="mb-4">
        <img
          src="https://mdbootstrap.com/img/new/fluid/city/041.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
        </div>

        <h2 class="mb-4">Descripcion</h2>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatibus. Vitae, praesentium in officiis corrupti et porro deserunt quod, obcaecati ipsum, fugit earum reprehenderit consectetur! Inventore sed blanditiis deleniti sit?</p>
        <h3 class="mb-4">Fecha</h3>
        <p class="mb-4">Sub-subheading text goes here.</p>

        <h3 class="mb-4\">localizacion</h3>
        <p class="mb-4">Sub-subheading text goes here.</p>
        <h2 class="mb-4">Subheading 2</h2>
        <p class="mb-4">Subheading text goes here.</p>
      </div>
      
    </div>
  </div>
</div>
